/* Responsiveness For Small Devices  Starts Here*/
@media only screen and (min-width: 320px) {
    /* Primary Styles Starts Here */
        /* Button */
        .button-primary{
            font-size: 15px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 5px;
        }
        /* Button */
    /* Primary Styles Ends Here */

    /* Navigation Bar Responsiveness Starts Here */
    .navBar{
        gap:10px;
    }

    .navBar h3{
        font-size: 16px;
    }

    .myName{
        font-size: 20px;
    }

    .navBar ul{
        gap: 10px;
    }

    .navBar ul li a{
        font-size: 16px;
    }
    /* Navigation Bar Responsiveness Ends Here */

    /* Cover Responsiveness Starts Here */
    /* Section 1 */
    .cover-element{
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: end;
        height: 325px;
    }

    .cover-element > .section-1{
        width: 50%;
    }
    .cover-element > .section-1 img{
        position: absolute;
        max-width: 325px;
        width: 130%;
        right: -50px;
    }
    .cover-element > .section-1 > .social > #github{
        position: fixed;
        top: 120px;
        right: 60px;
    }
    .cover-element > .section-1 > .social #linkedin{
        position: fixed;
        top: 120px;
        right: 115px;
    }
    .cover-element > .section-1 > .social #facebook{
        position: fixed;
        top: 175px;
        right: 60px;
    }


    /* Section 1 */
    /* Section 2 */
    .cover-element > .section-2{
        width: 50%;
        margin: auto auto;
    }
    .cover-element > .section-2 h1{
        font-size: 20px;
    }
    .cover-element > .section-2 > h1 .myName-cover{
        font-size: 25px;
    }
    .cover-element > .section-2 h3{
        font-size: 16px;
        margin: 5px auto;
    }
    
    .cover-element > .section-2 p{
        width: 100%;
        font-size: 14px;
        margin: 5px auto;
    }
    .cover-element > .section-2 > .btn-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px auto;
    }
    .cover-element > .section-2 > .btn-container > .btn img{
        margin: 0 5px 0 0;
    }
    /* section 2 */
    /* Cover Responsiveness Ends Here */
}
/* Responsiveness For Small Devices  Ends Here*/



/* Responsiveness For Medium Devices  Starts Here*/
@media only screen and (min-width: 375px) {
    /* Primary Styles Starts Here */
        /* Button */
        .button-primary{
            font-size: 15px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 5px;
        }
        /* Button */
    /* Primary Styles Ends Here */

    /* Navigation Bar Responsiveness Starts Here */
    .navBar{
        gap:10px;
    }

    .navBar h3{
        font-size: 16px;
        width: 40%;
    }

    .myName{
        font-size: 20px;
    }

    .navBar ul{
        gap: 10px;
        width: 60%;
    }

    .navBar ul li a{
        font-size: 16px;
    }
    /* Navigation Bar Responsiveness Ends Here */

    /* Cover Responsiveness Starts Here */
    /* Section 1 */
    .cover-element{
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: end;
        height: 325px;
    }

    .cover-element > .section-1{
        width: 50%;
    }
    .cover-element > .section-1 img{
        position: absolute;
        max-width: 325px;
        right: -40px;
    }
    .cover-element > .section-1 > .social > #github{
        position: fixed;
        top: 120px;
        right: 50px;
    }
    .cover-element > .section-1 > .social #linkedin{
        position: fixed;
        top: 120px;
        right: 105px;
    }
    .cover-element > .section-1 > .social #facebook{
        position: fixed;
        top: 175px;
        right: 50px;
    }


    /* Section 1 */
    /* Section 2 */
    .cover-element > .section-2{
        width: 50%;
        margin: auto auto;
    }
    .cover-element > .section-2 h1{
        font-size: 20px;
    }
    .cover-element > .section-2 > h1 .myName-cover{
        font-size: 25px;
    }
    .cover-element > .section-2 h3{
        font-size: 16px;
        margin: 5px auto;
    }
    
    .cover-element > .section-2 p{
        width: 100%;
        font-size: 14px;
        margin: 5px auto;
    }
    .cover-element > .section-2 > .btn-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px auto;
    }
    .cover-element > .section-2 > .btn-container > .btn img{
        margin: 0 5px 0 0;
    }
    /* section 2 */
    /* Cover Responsiveness Ends Here */
}
/* Responsiveness For Medium Devices  Ends Here*/



/* Responsiveness For Large Devices  Starts Here*/
@media only screen and (min-width: 425px) {
    /* Primary Styles Starts Here */
        /* Button */
        .button-primary{
            font-size: 18px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 5px;
        }
        /* Button */
    /* Primary Styles Ends Here */

    /* Navigation Bar Responsiveness Starts Here */
    .navBar{
        gap:10px;
    }

    .navBar h3{
        font-size: 18px;
        width: 40%;
    }

    .myName{
        font-size: 25px;
    }

    .navBar ul{
        gap: 10px;
        width: 60%;
    }

    .navBar ul li a{
        font-size: 18px;
    }
    /* Navigation Bar Responsiveness Ends Here */

    /* Cover Responsiveness Starts Here */
    /* Section 1 */
    .cover-element{
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: end;
        height: 325px;
    }

    .cover-element > .section-1{
        width: 50%;
    }
    .cover-element > .section-1 img{
        position: absolute;
        max-width: 350px;
        right: -40px;
    }
    .cover-element > .section-1 > .social > #github{
        position: fixed;
        top: 120px;
        right: 60px;
    }
    .cover-element > .section-1 > .social #linkedin{
        position: fixed;
        top: 230px;
        right: 60px;
    }
    .cover-element > .section-1 > .social #facebook{
        position: fixed;
        top: 175px;
        right: 60px;
    }


    /* Section 1 */
    /* Section 2 */
    .cover-element > .section-2{
        width: 50%;
        margin: auto auto;
    }
    .cover-element > .section-2 h1{
        font-size: 20px;
    }
    .cover-element > .section-2 > h1 .myName-cover{
        font-size: 25px;
    }
    .cover-element > .section-2 h3{
        font-size: 16px;
        margin: 5px auto;
    }
    
    .cover-element > .section-2 p{
        width: 100%;
        font-size: 14px;
        margin: 5px auto;
    }
    .cover-element > .section-2 > .btn-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px auto;
    }
    .cover-element > .section-2 > .btn-container > .btn img{
        margin: 0 5px 0 0;
    }
    /* section 2 */
    /* Cover Responsiveness Ends Here */
}
/* Responsiveness For Large Devices  Ends Here*/


@media only screen and (min-width: 555px) {
    /* Primary Styles Starts Here */
        /* Button */
        .button-primary{
            font-size: 18px;
            font-weight: 500;
            padding: 5px 10px;
            border-radius: 5px;
        }
        /* Button */
    /* Primary Styles Ends Here */

    /* Navigation Bar Responsiveness Starts Here */
    .navBar{
        gap:10px;
    }

    .navBar h3{
        font-size: 18px;
        width: 40%;
    }

    .myName{
        font-size: 25px;
    }

    .navBar ul{
        gap: 10px;
        width: 60%;
    }

    .navBar ul li a{
        font-size: 18px;
    }
    /* Navigation Bar Responsiveness Ends Here */

    /* Cover Responsiveness Starts Here */
    /* Section 1 */
    .cover-element{
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: end;
        height: 325px;
    }

    .cover-element > .section-1{
        width: 50%;
    }
    .cover-element > .section-1 img{
        position: absolute;
        max-width: 325px;
        width: 100%;
        right: -30px;
    }
    .cover-element > .section-1 > .social > #github{
        position: fixed;
        top: 120px;
        right: 60px;
    }
    .cover-element > .section-1 > .social #linkedin{
        position: fixed;
        top: 230px;
        right: 60px;
    }
    .cover-element > .section-1 > .social #facebook{
        position: fixed;
        top: 175px;
        right: 60px;
    }


    /* Section 1 */
    /* Section 2 */
    .cover-element > .section-2{
        width: 50%;
        margin: auto auto;
    }
    .cover-element > .section-2 h1{
        font-size: 20px;
    }
    .cover-element > .section-2 > h1 .myName-cover{
        font-size: 25px;
    }
    .cover-element > .section-2 h3{
        font-size: 16px;
        margin: 5px auto;
    }
    
    .cover-element > .section-2 p{
        width: 100%;
        font-size: 14px;
        margin: 5px auto;
    }
    .cover-element > .section-2 > .btn-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px auto;
    }
    .cover-element > .section-2 > .btn-container > .btn img{
        margin: 0 5px 0 0;
    }
    /* section 2 */
    /* Cover Responsiveness Ends Here */
}

/* Responsiveness For Tablet Devices  Starts Here*/
@media only screen and (min-width: 750px) {
    /* Primary Styles Starts Here */
        /* Button */
        .button-primary{
            font-size: 20px;
            font-weight: 500;
            padding: 10px 20px;
            border-radius: 5px;
        }
        /* Button */
    /* Primary Styles Ends Here */

    /* Navigation Bar Responsiveness Starts Here */
    .navBar{
        gap:20px;
    }

    .navBar h3{
        font-size: 20px;
        width: 30%;
    }

    .myName{
        font-size: 30px;
    }

    .navBar ul{
        gap: 100px;
        width: 70%;
    }

    .navBar ul li a{
        font-size: 20px;
    }
    /* Navigation Bar Responsiveness Ends Here */

    /* Cover Responsiveness Starts Here */
    /* Section 1 */
    .cover-element{
        flex-direction: row-reverse;
        flex-wrap: nowrap;
        align-items: end;
        height: 450px;
    }

    .cover-element > .section-1{
        width: 50%;
    }
    .cover-element > .section-1 img{
        position: absolute;
        max-width: 450px;
        width: 100%;
        right: inherit;
    }
    .cover-element > .section-1 > .social > #github{
        position: fixed;
        top: 120px;
        right: 60px;
    }
    .cover-element > .section-1 > .social #linkedin{
        position: fixed;
        top: 230px;
        right: 60px;
    }
    .cover-element > .section-1 > .social #facebook{
        position: fixed;
        top: 175px;
        right: 60px;
    }


    /* Section 1 */
    /* Section 2 */
    .cover-element > .section-2{
        width: 50%;
        margin: auto auto;
    }
    .cover-element > .section-2 h1{
        font-size: 40px;
    }
    .cover-element > .section-2 > h1 .myName-cover{
        font-size: 50px;
    }
    .cover-element > .section-2 h3{
        font-size: 25px;
        margin: 5px auto;
    }
    
    .cover-element > .section-2 p{
        width: 90%;
        font-size: 18px;
        margin: 5px auto;
    }
    .cover-element > .section-2 > .btn-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin: 10px auto;
    }
    .cover-element > .section-2 > .btn-container > .btn img{
        margin: 0 5px 0 0;
    }
    /* section 2 */
    /* Cover Responsiveness Ends Here */
}
/* Responsiveness For Tablet Devices  Ends Here*/

@media only screen and (min-width: 1000px) {
    /* Primary Styles Starts Here */
        /* Button */
        .button-primary{
            font-size: 20px;
            font-weight: 500;
            padding: 10px 20px;
            border-radius: 5px;
        }
        /* Button */
    /* Primary Styles Ends Here */

    /* Navigation Bar Responsiveness Starts Here */
    .header{
        max-width: 1750px;
        margin: 0 auto;
    }
    
    .navBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 90%;
        height: 80px;
        margin: 10px auto;
    
    }
    
    .navBar h3{
        font-size: 20px;
        font-weight: 800;
        width: 30%;
    }
    
    .myName{
        font-size: 30px;
        color:rgba(121, 0, 74, 0.829);
    }
    
    .navBar ul{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 100px;
        width: 70%;
    }
    
    .navBar ul li{
        list-style: none;
    }
    
    .navBar ul li a{
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
        color: #000;
    }
    
    .navBar ul li a:hover, a:active{
        text-decoration: none;
        color: rgba(0, 0, 0, 0.6);
    }
    /* Navigation Bar Responsiveness Ends Here */

    /* Cover Responsiveness Starts Here */
    .cover-element{
        display: flex;
        flex-direction: row-reverse;
        height: 720px;
        background: linear-gradient(200deg, #5e004242, #fff, #fff, #5e004242);
        margin: 20px auto;
    }
    /* Section 1 */
    .cover-element > .section-1{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;
        width: 40%;
    }
    
    .cover-element > .section-1 img{
        width: 90%;
    }
    
    .cover-element > .section-1 .social{
        display: flex;
        position: absolute;
        flex-direction: column;
        gap: 30px;
        top: 10px;
        right: 10px;
    }
    
    .cover-element > .section-1 > .social img{
        width: 30px;
    }

    /* Section 1 */
    /* Section 2 */
    .cover-element > .section-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
    }
    
    .cover-element > .section-2 h1{
        font-size: 70px;
    }
    
    .cover-element > .section-2 > h1 .myName-cover{
        color: rgba(121, 0, 74, 0.829);
        font-size: 75px;
    }
    
    .cover-element > .section-2 h3{
        font-size: 30px;
        margin: 10px auto;
        font-weight: 700;
    }
    
    .cover-element > .section-2 p{
        width: 80%;
        text-align: center;
        font-size: 20px;
        opacity: .7;
        font-weight: 600;
        margin: 10px auto;
    }
    
    .cover-element > .section-2 > .btn-container{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 20px auto;
    }
    
    .cover-element > .section-2 > .btn-container > .btn img{
        width: 20px;
        margin: 0 10px;
    }
    
    .cover-element > .section-2 > .btn-container > .btn{
        display: flex;
        align-items: center;
    }
    /* section 2 */
    /* Cover Responsiveness Ends Here */
}

